/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: rgb(48, 48, 48);
  --color-dark: rgb(64, 64, 64);
  --color-light: rgb(194, 194, 194);
  --color-lighter: rgb(255, 255, 255);
  --color-lightest: rgb(232, 232, 232);
  /* you could add an accent color for CTAs and anchor tags ;-) */
}

/* Fonts */
html {
  font-size: 18px;

}

h1, h2, h3 {
  color: var(--color-darker);
}

h1 {
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
padding-bottom: 2rem;
font-size: 5rem;
font-weight: 800;

}

h2 {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.5rem;

}

h3 {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;

}

p{
  color: var(--color-dark);
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  
}

/* UI Elements */
button {
  display: inline-block;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
  text-transform: uppercase;
  
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);

}

input[type=text] {
  box-sizing: border-box;
  width: 250px;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav{
  
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  margin-left: 6rem;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

nav button {
  
  height: 2rem;

  border: none;
  text-align: center;
  width: fit-content;
margin-right: 6rem;
border-radius: 10px;
text-transform: uppercase;
font-family: 'Nunito', sans-serif;
font-weight: 800;
font-size: 0.7rem;
background-color: var(--color-lightest);

}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

.header_text {
  width: 40vw;
  min-width: 300px;
  padding-left: 3rem;
}

.header_text h1 {
  color: var(--color-lighter);
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
}

/* Sections */

main {
  background-color: var(--color-lightest);
}
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_text h2 {
  padding-bottom: 2rem;
}

.intro_text button{
  font-weight: 800;
  font-size: 0.7rem;
  
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
}

#cards {
  margin-left: 3rem;
  margin-right: 3rem;
  min-height: 80vh;
  padding: 5rem 2rem; 

}

.card > *:not(:first-child):not(:last-child) {
 padding-left: 1.5rem;
}


#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.card_slogan {
  color: grey;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  min-width: 0;
}

.card_name {
  margin-top: auto;
}

.card_title {
  font-weight: 800;
  overflow-wrap: break-word;
  min-width: 0;
}

.card {
  width: 95%;
  display: flex; 
  flex-direction: column;
 background-color: white;
 line-height: 3;
margin-bottom: 2rem;

}

.card_buttons{
  justify-content: center;
  margin-top: auto;
  display: flex;
 padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;

  

}


.card_button_negative {
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  width: fit-content;
margin-right: 2rem;
border-radius: 10px;
text-transform: uppercase;
font-family: 'Nunito', sans-serif;
font-weight: 800;
font-size: 0.7rem;
background-color: white;
border: 1px solid var(--color-darker);

  
}

.card_button_positive {
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
  background-color: var(--color-darker);
  color: white;
  
}
.card_mail a {
  
  color: black;
  /* text-decoration: none; */
  font-size: 0.8rem;
  

}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  /* background-color: var(--color-light); */
  background-color: white;
  line-height: 2;
}

.info_text {
  width: 60vw;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  
}

.info_text h2 {
  padding-bottom: 1.5rem;
}

.info_text p { 
  padding-bottom: 1.5rem;
}

.info_text button {
  width: fit-content;
  border-radius: 10px;
  font-weight: 800;
font-size: 0.7rem;
 
}


#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

#contact div {
  width: 80vw;
  min-width: 300px;
  max-width: 750px;
}

#contact h2{
  padding-bottom: 2rem;
}

#contact button {
  font-weight: 800;
font-size: 0.7rem;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
  font-family: 'Nunito', sans-serif;
  line-height: 2;
  padding-left: 6rem;
  padding-right: 6rem;
}

footer h2, footer h3{
  color: var(--color-lightest);
  padding-bottom: 1.5rem;
}

footer a {
  color: var(--color-light);
  text-decoration: none;
  font-size: 0.85rem;

}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 2rem 1rem 1rem;
}